*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
min-height:100vh;
display:flex;
}

.sidebar{
width:250px;
background:#1e293b;
padding:20px;
border-right:1px solid #334155;
display:flex;
flex-direction:column;
gap:15px;
}

.sidebar h1{
font-family:'Orbitron';
color:#38bdf8;
}

.sidebar a{
cursor:pointer;
color:#cbd5e1;
}

.main-content{
flex:1;
padding:20px;
position:relative;
}

.section{
display:none;
background:#1e293b;
padding:20px;
border-radius:12px;
}

.section.active{
display:block;
}

table{
width:100%;
border-collapse:collapse;
}

table th,
table td{
padding:12px;
border-bottom:1px solid #334155;
}

.btn{
padding:6px 12px;
border:none;
border-radius:6px;
cursor:pointer;
}

.btn-add{
background:#22c55e;
color:black;
}

.btn-delete{
background:#ef4444;
color:white;
}

.logout-btn{
position:absolute;
top:20px;
right:20px;
background:red;
padding:8px 14px;
border-radius:8px;
color:white;
cursor:pointer;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.modal.active{
display:flex;
}

.modal-content{
background:#1e293b;
padding:30px;
border-radius:10px;
width:400px;
}